.grid1{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px){
  .grid1-header{
    display: none;
  }
  .grid1-image{
    display:none;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px){
  .grid1{
    grid-template-columns: 9fr 2fr 1fr 2fr 3fr 1fr;
    grid-template-rows: 50px 20px auto 30px auto 70px 60px;
  }

  .grid1-header{
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }
}

@media screen and (min-width: 900px){
  .grid1{
    grid-template-columns: 9fr 2fr 1fr 2fr 3fr 1fr;
    grid-template-rows: 50px 20px auto 30px auto 70px 60px;
  }

  .grid1-header{
    grid-column: 2 / 5;
    grid-row: 3 / 4;
  }
}

.grid1-image{
  background: url('grid1_img.jpg');
  background-size: cover;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  grid-column: 1 / 3;
  grid-row: 2 / 7;
}

.grid1-background{
  background: linear-gradient(to bottom right, #243b55, #141e30);
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-column: 2 / 7;
  grid-row: 1 / 8;
}

.grid1-header{
  color: var(--universal-background-color);
  text-shadow: 1px 1px 4px #000000;
  z-index: 2;
}

.grid1-text{
  color: var(--universal-background-color);
  font-size: 1.2em;
  text-align: center;
  height: 50%;
  z-index: 1;
  grid-column: 4 / 6;
  grid-row: 5 / 6;
}


.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 200px;
}

@media screen and (max-width: 600px){
  .grid2-image{
    display:none;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px){
  .grid2{
    grid-template-columns: 2fr 6fr 2fr 1fr 10fr;
    grid-template-rows: 70px auto auto 15px auto;
  }
}

@media screen and (min-width: 900px){
  .grid2{
    grid-template-columns: 2fr 6fr 2fr 1fr 10fr;
    grid-template-rows: 70px auto auto 15px 15px auto;
  }
}

.grid2-image{
  background: url('grid2_img.jpg');
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-column: 5 / 6;
  grid-row: 1 / 5;
}

.grid2-background{
  background: linear-gradient(to bottom left, #243b55, #141e30);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-column: 1 / 4;
  grid-row: 2 / 7;
}

.grid2-header{
  color: var(--universal-background-color);
  width: 100%;
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid2-text{
  color: var(--universal-background-color);
  text-align: center;
  font-size: 1.2em;
  padding: 0 8%;
  grid-column: 1 / 4;
  grid-row: 3 / 5;
}

.grid2-button{
  margin-bottom: 15px;
  padding: 0 15%;
  text-align: center;
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.grid2-button > button{
  color: var(--universal-background-color);
  margin: var(--universal-padding);
  transition: 0.5s;
}

.grid2-button > button:hover{
  background-color: rgba(255, 255, 255, 0.2)
}
